#textbox,#title,#SwitchMode, .display, #textBox, #label{
    position: absolute;
    color: #eee;
    cursor: move;
    font-family: "Comfortaa", sans-serif;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
    color: #eee;
    font-family: "Comfortaa", sans-serif;
}button:hover{
    transform: scale(0.9);
    background-color: black;
    transition: 0.5s ease;
}button:not(:hover){
    transition: 0.5s ease;
}
#textBox{
    font-size: 5vh;
}.eye, .smile{
    height: 5vh;
}#title span{
    animation: bounce 1.5s infinite ease;
    display: inline-block;
    font-size: 8vh;
}#title{
    display: absolute;
}.swal2-popup {
    font-family: "Comfortaa", sans-serif;
  }input{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    color: #eee;
    font-family: "Comfortaa", sans-serif;
  }.customFileUploadCSS{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    color: #eee;
    font-family: "Comfortaa", sans-serif;
  }
    

@keyframes bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
#title span:nth-child(1) { animation-delay: 0s; }
#title span:nth-child(2) { animation-delay: 0.1s; }
#title span:nth-child(3) { animation-delay: 0.2s; }
#title span:nth-child(4) { animation-delay: 0.3s; }
#title span:nth-child(5) { animation-delay: 0.4s; }